/* for index.php */

/* Defulat */

html {
/*	font-family: "PT Sans", "Microsoft JhengHei", "Microsoft YaHei", "Microsoft YaHei UI", "WenQuanYi Micro Hei", "LiHei Pro", Tahoma, Arial;	*/
	background-color: #F6F6F6; 
}

h1, h3 {
	font-weight: bold; 
	color: #2Dc000; 
}

a:hover, a:active {
    color: #0C7700;
}

a {
    color: #2DC000;
}


hr {
	border: 0;
	height: 2px; 
	background-color: #2DC000; 
	color: #2DC000; 
	margin-top: -5px; 
}

.outliner {
	width: 1180px; 
	position: relative; 
	background-color: #F6F6F6; 
	margin-top: 70px; 	
}

@media screen and (min-width: 1185px) {
	.outliner {
		left: 50%; 
		margin-left: -590px;
	}
}

/* header */
img.logo {
	margin-top: -10px; 
	height: 40px; 
}

img.amount {
	position: absolute;
	z-index: -1; 
}

img.header-like {
	margin-top: -15px; 
	height: 40px; 
	width: 40px; 
	margin-bottom: -10px; 	
}

.fblinkamount {
	margin-top: 15px; 
}


/* content-focus */
.content-focus {
	width: 384px; 
	height: 350px;  
	background-color: #CCD5CB;
	padding: 2px; 
	margin-left: 5px;  
}

.content-focus a:hover, .content-focus a:active {
    color: #0C7700;
}

.content-focus a {
	color: #181818; 
}

.content-focus img {
	width: 380px; 
	height: 270px; 
}

.content-focus h3 {
	margin-top: 3px; 
	font-size: 14px; 
}

.content-focus p {	
	font-size: 12px;
	margin-bottom: 5px;  
}

/* content-formal */

.content-formal {
	width: 184px; 
	height: 173px; 
	background-color: #CCD5CB; 	
	padding: 2px; 
	position: absolute;
	margin-top: -15px;  
}

.content-formal a:hover, .content-formal a:active {
    color: #0C7700;                                                                                                                              
}
.content-formal a {
    color: #181818; 
}

.content-formal img {
	width: 180px; 
	height: 101px; 
}

.content-formal h3 {
	margin-top: 5px; 
	font-size: 14px; 
	margin-bottom: 5px; 	
}

.content-formal p {
	font-size: 12px;
	margin-bottom: 2px; 
}

.content-recommend {
    position: absolute; 
    top: 87px; 
    width: 184px;   
    height: 348px; 
    background-color: #CCD5CB; 
    padding: 2px; 	
}

.content-recommend a:hover, .content-recommend a:active {
    color: #0C7700;                                                                                                                              
}

.content-recommend a {
    color: #181818; 
}

.content-recommend img {
	width: 180px; 
	height: 101px; 	
}

.content-recommend hr {
	margin-top: 0px; 
	margin-bottom: 10px; 	
}

.content-recommend h3 {
	position: relative; 
	margin-top: 5px;
	margin-left: 5px;  
	font-size: 16px; 	
}

.content-recommend p {
	font-size: 14px; 
	padding-left: 5px; 
}

/* 今日必看 */

.must {
	position: relative; 
	width: 976px;
	height: 415px;  
	margin-right: 10px; 
	margin-bottom: 10px;   
}

p.must-list {
	position: absolute;
	top: 8px; 	 	
	left: 155px;
	font-size: 24px;  
}

img.must-today {
	position: absolute;
	top: 80px;  
	width: 380px;
	height: 31px; 
}

/* 精彩推薦 */

.recommend {
	position: absolute; 
	width: 184px; 
	top: -20px; 
	right: 5px; 
}


/* 小編狂推 */
.editor {
	position: relative; 
	width: 1175px; 
	height: 450px; 	
}

/* footer */

.footer {
	position: relative;
	top: 20px;  
	font-size: 24px; 
	color: #C5FFB3; 
	text-align: center; 
}
